/TravelApplicationDesktop/nbproject/private/
/TravelHelperDesktopApp/nbproject/private/
/TravelHelperDesktopApp/build/
TravelAppMobile/TravelAppMobile.xcodeproj/project.xcworkspace/xcuserdata/ernestodecrecchio.xcuserdatad/UserInterfaceState.xcuserstate
